div(class='ed-container')
	div(class='ed-item')
		h2 Contact
div(class='ed-grid m-grid-2 row-gap')
	ul.data-list
		li: i(class='far fa-envelope'): a(href='mailto:nixon.fernandezjimenez@gmail.com' target='_blank' class='foot-icon') Email
		li: i(class='fab fa-linkedin-in'): a(href='https://www.linkedin.com/in/enrique-jos%C3%A9-estrada-n%C3%BA%C3%B1ez-85610657/' target='_blank' class='foot-icon') Linkedln
	ul.data-list
		li: i(class='fab fa-github'): a(href='https://github.com/Nixon-fj' target='_blank' class='foot-icon') Github
		li: i(class='fab fa-codepen'): a(href='https://codepen.io/nixon-fj' target='_blank' class='foot-icon') CodePen
