div(class='ed-container bottom-space')
	div(class='ed-item')
		h2 Technical Skills
	div(class='ed-item m-50 l-25')
		ul(class="feature-list no-marging")
			li HTML5 - PUG
			li CSS - SASS
			li Adobe Suite
			li Figma
			
	div(class='ed-item m-50 l-25')
		ul(class="feature-list no-marging")
			li Java
			li Javascript
			li Php
			li C#
			
	div(class='ed-item m-50 l-25')
		ul(class="feature-list no-marging")
			li Git
			li SQL - NOSQL
			li Ajax
			li Fire Base
			
	div(class='ed-item m-50 l-25')
		ul(class="feature-list no-marging")
			li Angular
			li Wordpress
			li Node js
			li Jira, Asana
