div(class='ed-container')
	div(class='ed-item')
		h2 Work Experience
section.l-section.diagonal-section
	.ed-grid.cols-l-12.diagonal-section__content
		div.span-l-2
		div.home-users.span-l-9
			// Presentación
			.talk-break.l-section.third
				.talk__hour August 2022 <br> Currently
				span Business Solutions

			// Charla 1 - Jon
			.talk.l-section
				.talk__hour
				.talk__info
					h3 Front End Developer.
					p 
						|My role is to develop and maintain websites and interfaces for the different internal projects of the company.
						br
						br
						|Using different front-end technologies, such as Angular, VUE, and Wordpress, and to consume the back-end.
						br
						br
						|<strong>References: </strong> 
						br
						br
						|<strong>Name</strong>: Ricardo Corrales
						br
						|<strong>Position</strong>: Project Manager
						br
						|<strong>Phone</strong>: +506 60594573
